
.container{
    display: flex;
    .box-card{
        width: 400px;
        height: 400px;
        // background-color:red;
        display: flex;
        justify-content:space-between;
        flex-direction:column;
        .box-img1{
            width: 100%;
            height: 80%;
            // background-color: blue;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .box-img2{
            width: 100%;
            height: 19%;
            // background-color: rgb(255, 119, 0);
            display: flex;
            justify-content:space-between;
            .box{
                width: 24%;
                height: 100%;
                // background-color: red;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    .quentity{
        margin-left: 50px;
            margin-top: 50px;
        .add{
            width: 110px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}